body{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #f8f9fa;
}
h1 {
	margin-bottom: 20px;
}
.container {
	text-align:center;
	background-color: white;
	padding: 50px;
	border-radius: 15px;
}
button, a {
	display: block;
	width: 200px;
	margin: 10px auto;
	padding: 10px;
	font-size: 16px;
	border: none;
	border-radius: 5px;
	background-color: #007bff;
	color: white;
	cursor: pointer;
}
button:hover {
	background-color: #000623;
}