<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>JOIN문을 활용해서 SELECT하기</title>
	</head>
	<body>
		<h1>JOIN문을 활용해서 SELECT하기</h1>
		<!-- sql에서 정상적으로 작동하는 join문을
			 xml 파일에 ; 를 제외하고 그대로 추가하면 정상적으로 작동이 가능
			 SELECT의 경우
			 값을 sql에서 정상적으로 가져오지 않아도
			 White label 페이지가 나타나거나
			 SELECT에서 가져오는 DB 내용물만 보이지 않을 뿐이지
			 왜 안보이는지 원인을 알 수 없으므로
			 controller에서 Slf4j 어노테이션과 dto에서 ToString 어노테이션을 활용해서
			 값을 정상적으로 가져오는지 확인할 수 있음-->
		<table border="1">
			<thead>
				<tr>
					<th>과자명</th>
					<th>가격</th>
					<th>회사명</th>
					<th>회사번호</th>
					<th>회사주소</th>
					<th>과자상세페이지로이동하기</th>
					<th>회사상세페이지로이동하기</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="sac : ${snackAndCompany}">
					<td th:text="${sac.snack_name}">
					<td th:text="${sac.price}">
					<td th:text="${sac.company_name}">
					<td th:text="${sac.company_phone}">
					<td th:text="${sac.company_address}">
					<td>
						<a th:href="@{'/snack/' + ${sac.snack_id}}">과자상세페이지로이동하기</a>
						<!-- 
						★ 오류 발생
						                        //${sac.snack_id} : 
						SQL에서 시작하는 id 값이 1번부터인데 0이 뜬다는 것은 값을 가져오지 못한 것
						0 = null
						★ 해결 방안 1, 2 둘 다 해야 함
						1. DTO(SC.java)에서
						private int snack_id;
						작성
						2. xml(snackAndCompany.xml)에서 10번째 줄
						SELECT절에 s.snack_id 넣어주기
						 -->
					</td>
					<td>
						<a th:href="@{'/company/' + ${sac.company_id}}">회사상세페이지로이동하기</a>
					</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>