<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>서버로 파라미터 제출하기</title>
	</head>
	<body>
		<h1>서버로 파라미터 제출하기</h1>
		<h3>1. HttpServletRequest.getParameter("key") 이용해서 제출하기</h3>
		<form action="/param/test1" method="POST">
		 <!-- action="/param/test1" : 문제가 발생하지 않음
		                              input에 작성한 값을 확인하고 다시 input 페이지로 돌아오는 것
		                              값을 전달하고 /param/main 페이지로 돌아오는 과정이 너무 빠르게
		                              진행되기 때문에 우리 눈에는 변화가 없는 것처럼 보임 -->
		 <!-- action="/param/main" : http://localhost:8081/param/main 문제 발생 -->
		 <!-- action="param/test1" : http://localhost:8081/param/param/test1 문제가발생
		                             맨 앞에 /를 붙이지 않으면 Controller에 작성된
		                             param이라는 공통 주소가 한 번 더 붙기 때문에
		                             /param/param/test1으로 주소가 변형되는 것 -->
		 <!-- action="param/main" : http://localhost:8081/param/param/main 문제 발생 -->
		                      <!-- method = POST일 경우 DB에 저장하거나 수정하거나 삭제 전달하기 -->
		                      <!-- method = GET일 경우 DB에서 가져와 사람들에게 보여주기 -->
			이름 : <input type="text" name="inputName"><br>
			나이 : <input type="number" name="inputAge"><br>
			주소 : <input type="text" name="inputAddress"><br>
			<button>제출하기</button>
			   <!--  : type을 따로 설정하지 않았을 때는 기본 타입 submit -->
		</form>
		<h3>@RequestParam 어노테이션을 이용해서
		    -낱개(단수, 독립된) 파라미터(매개변수) 컨트롤러에서 얻어오는 방법</h3>
		<form action="연결주소값2" method="POST">
			책 제목 : <input type="text" name="title"> <br>
			작성자 : <input type="text" name="writer"> <br>
			가격 : <input type="number" name="price"> <br>
			출판사 : <input type="text" name="publisher"> <br>
			<button>제출하기</button>
		</form>
		
	</body>
</html>