<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>상품등록하기</title>
	</head>
	<body>
		<h1>상품등록하기</h1>

		<form th:action="@{/register}" method="post" th:object="${goods}">
		<!-- GoodsController 20번째 줄에서
		     model.addAttribute("goods", new Goods());
		     HTML에 goods 이름으로 전달한다고 작성했기 때문에
		     th:object="${goods}"를 이용해 나머지 input에는 goods를 사용하지 않고
		     바로 dto에 작성한 변수명을 작성해준다.
		     만약 th:object="${goods}" 작성하지 않으면 goods.goodsName 이런식으로 작성해주면 됨
		     
		     input에 있는 값을 dto에 있는 변수명에 넣어주기 때문에
		     th:field 라는 이름을 써서
		     일치하는 필드명(=변수명)에 고객이 작성한 값을 넣어주겠다 라는 표기 -->
		     
		    <!--  goods_id 값은 DB에서 시퀀스를 이용해서
		                       NEXTVAL로 자동으로 1씩 증가하게 설정했기 때문에
		                       form에서는 작성하지 않는다 -->
			상품명 : <input type="text" th:field="*{goodsName}"><br>
			                     <!-- th:field="*{}" : th:object 값을 가져온다는 표시 -->
			상품가격 : <input type="number" th:field="*{goodsPrice}"><br>
			상품수량 : <input type="number" th:field="*{goodsQuantity}"><br>
			<button>제출하기</button>
		</form>
		
		<a href="/drinksregister">음료수등록하기</a>
	</body>
</html>