<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shoppingmall.mapper.ImageUploadMapper">
	<insert id="insertImageUpload" parameterType="com.shoppingmall.dto.ImageUpload">
		INSERT INTO image_upload(id, file_name, upload_dir)
		VALUES (image_upload_seq.NEXTVAL, #{file_name}, #{upload_dir})
		   <!-- image_upload_seq.NEXTVAL : NEXTVAL 같은 경우에는 #{}을 붙이지 않고 그냥 씀
		                                   #{image_upload_seq.NEXTVAL} : 잘못된 표기 -->
		   <!-- 시간 같은 경우에는 알아서 현재 시간이 작성되기 때문에 mapper에 작성해줄 필요가 없음 -->
	</insert>
</mapper>