<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.test.mapper.GoodsMapper">
	<select id="getGoods" resultType="Integer" parameterType="com.kh.test.dto.Goods">
		SELECT COUNT(*) FROM goods_item
		WHERE item_name = #{item_name}
		             <!-- #{item_name} : item_name 대신 itemName으로 사용하면 resultMap을 사용해야 함 -->
	</select>
</mapper>