<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.DrinkMapper">
	<insert id="insertDrinks" parameterType="com.example.demo.dto.Drinks">
		INSERT INTO Drinks (drinks_id, drinks_name, drinks_price, drinks_quantity)
		VALUES (drinks_seq.NEXTVAL, #{drinksName}, #{drinksPrice}, #{drinksQuantity})
	</insert>
</mapper>