<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper로 감쌀 sql문을 mapper태그 안에 모두 작성하기 -->
<mapper namespace="com.example.demo.mapper.GoodsMapper">
   <!-- namespace : namespace를 이용해서 java에 mapper sql 실행할 id를 작성할 java 파일 위치 작성 -->
   <!--             GoodsMapper에 Goods 테이블과 관련된 모든 id 작성 -->

	<!-- 작성한 id는 Mapper, Service, Controller 에서 모든 메서드명을 통일해서 작성 -->
	<insert id="insertGoods" parameterType="com.example.demo.dto.Goods">
             <!-- parameterType : sql에 값을 집어 넣을 때 java에서 참조한 변수명 위치를 가지고 오기 위해
	                              parameterType에 변수명 위치 작성 -->

		<!-- SQL 작성할 테이블 id, name, price, quantity -->
		INSERT INTO goods (goods_id, goods_name, goods_price, goods_quantity)
		VALUES (goods_seq.NEXTVAL, #{goodsName}, #{goodsPrice}, #{goodsQuantity})
							  <!-- #{dto.Goods에 적은 변수명}과 sql에 연결할 컬럼명을 각각 작성해주기 -->	
	</insert>
</mapper>