<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>블로그 메인</title>
		<!-- link css 연결 -->
		<link rel="stylesheet" src="#">
		<!-- jQuery js 연결 -->
	</head>
	<body>
		<div class="container">
			<h1>내 블로그</h1>
			<nav>
			<ul>
				<li><a href="home">홈페이지이동</a></li>
				<li><a href="/blog/index">블로그메인</a></li>
				<li><a href="/blog/board">게시판</a></li>
			</ul>
			</nav>
		</div>
		
		<div class="main">
			<h3>소개</h3>
			<p>이 곳은 블로그 메인입니다. 환영합니다.</p>
		</div>
	</body>
	<!-- js script 연결 -->
</html>