<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>돼지 목록</title>
		<link rel="stylesheet" href="/css/styles.css">
	</head>
	<body>
		<h1>돼지 목록</h1>
		<table border="1">
			<thead>
				<tr>
					<th>돼지 품종</th>
					<th>이미지</th>
					<th>상세페이지로이동하기</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="p : ${pigs}">
					<td th:text="${p.pig_name}"></td>
						    <!-- ${pigs} : pigController.java 22번째 줄에서
						                   model.addAttribute("pigs", pigs);
						                   의 pigs -->
					<td>
						<img th:src="@{${p.pig_image_path}}">
					</td>
					<td>
						<a th:href="@{'/pigDetail/' + ${p.pig_id}}">상세페이지로이동하기</a>
					</td>
				</tr>
			</tbody>
		</table>
		<a href="/uploadPig">돼지이미지와 상세정보 업로드</a>
	</body>
</html>