<!DOCTYPE html>
<!-- th 속성 추가 선언 -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
           <!-- xmlns:th : 네임스페이스로 th를 사용하겠다 -->
	<head>
		<meta charset="utf-8">
		<title>타임리프 예제 1</title>
	</head>
	<body>
		<h1>타임리프 예제 1</h1>
		<pre>
	Spring EL(스프링 표현 언어)
	${key} : 변수, Model 등을 이용해서 세팅한 값 출력
	
	th:text 속성 = "속성값"
		타임리프를 이용해서 속성값이 작성된 태그의 내용을 (innerText)로 출력
	
	★ th 속성은 해석된 후 사라지기 때문에 출력된 화면(응답화면) 보이지 않음
		</pre>
		<h4 th:test="${test1}">test1 값 확인</h4>
		<h4 th:test="${test2}">test2 값 확인</h4>
		
		<hr>
		<h3>단일 값 출력</h3>
		<pre>
	th:block 태그
		Thymeleaf 에서 제공하는 유일한 태그
		
		Thymeleaf는 태그 내에 th속성을 작성하여 정의하는게 일반적이지만
		th속성을 작성할 태그가 존재하지 않을 때 사용
		
		th:text 보다는 조건, 반복문과 같이 사용하는 경우가 많음
		</pre>
		
		productName : <th:block th:text="${productName}">상품명</th:block>
						/ <span th:text="${productName}">상품명</span>
		         <!-- th:block과 span 태그는 동일하게 사용할 수 있지만
		              th : block은 주로 조건이나 반복문을 사용할 때 많이 사용 -->
			                                        <!-- 상품명 : 개발자가 이 값에 뭐(상품명)가 들어가야 하는지
			                                                    개발자를 위해 작성해 주는 공간 -->
		<br>
		price : 
		<span class="price">
			<th:block th:text="${price}">가격</th:block>   원
						            <!-- 가격 : 개발자가 이 값에 뭐(가격)가 들어가야 하는지
			                                   개발자를 위해 작성해 주는 공간 -->
		</span>
		<br>
		company : <th:block th:text="${productCompany}">회사명</th:block>
					                               <!-- 회사명 : 개발자가 이 값에 뭐(회사명)가 들어가야 하는지
			                                                   개발자를 위해 작성해 주는 공간 -->
		
		<hr>
		<h4>복수 값 출력</h4>
		<pre>
	th:each="item : ${List 또는 배열}"
	
		향상된 for 문
		
		List 또는 배열 길이 만큼 반복
		
		매 반복 마다 List 또는 배열의 요소를 차례대로 꺼내 item 변수에 저장
			(item 변수명은 자유롭게 작성)
		</pre>
		
		<ul>
			<li th:text="${fruitList}">과일 목록</li>
						          <!-- 과일 목록 : 개발자가 이 값에 뭐(과일 목록)가 들어가야 하는지
			                                    개발자를 위해 작성해 주는 공간 -->
		</ul>
		
		<ul>
			<li th:text="${fruitList[0]}">0 번째 과일 이름</li>
						             <!-- 0 번째 과일 이름 : 개발자가 이 값에 뭐(0 번째 과일 이름)가 들어가야 하는지
			                                    개발자를 위해 작성해 주는 공간 -->
			<li th:text="${fruitList[1]}">1 번째 과일 이름</li>
			<li th:text="${fruitList[2]}">2 번째 과일 이름</li>
		</ul>
		
		<ul>
			<li th:text="${animal}">동물 리스트</li>
			                   <!-- 동물 리스트 : 개발자가 이 값에 뭐(동물 리스트)가 들어가야 하는지
			                                   개발자를 위해 작성해 주는 공간 -->
		</ul>
		
		<ul>
			<li th:text="${animal[0]}">0 번째 동물</li>
			<li th:text="${animal[1]}">1 번째 동물</li>
			<li th:text="${animal[2]}">2 번째 동물</li>
		</ul>
		
		<hr>
		<!-- th:each 문 사용해서 for문으로 표시 -->
		<h4>th:each 사용</h4>
		<ul>
			<th:block th:each="fruit : ${fruitList}">
				<li th:text="${fruit}">과일명</li>
			</th:block>
		</ul>
		
		<ul>
			<!-- 방법1 --> 
			<th:block th:each="a : ${animal}">
				<li th:text="${a}">동물 이름</li>
			</th:block>
			<!-- 방법2 --> 
			<!--			
			<th:block th:each="animal : ${animal}">
				<li th:text="${animal}">동물 이름</li>
			</th:block>
			 -->
			<!-- 틀린 방법 --> 
			<!-- 		
			<th:block th:each="a : ${animal}">
				<li th:text="${animal}">동물 이름</li>
			</th:block>
			[호랑이, 토끼, 거북이]가 3번 출력 된다
			-->
		</ul>
		
		<hr>
		<!-- DTO 객체 출력 -->
		<h3>DTO 객체 출력</h3>
		<h4>방법 1</h4>
		<ul>
			<li th:text="${std}">std 객체</li>
				<!-- StudentDTO(studentNo=12345, name=홍길동, age=30) -->
			<li th:text="${std.studentNo}">학번</li>
				<!-- 12345 -->
			<li th:text="${std.name}">이름</li>
				<!-- 홍길동 -->
			<li th:text="${std.age}">나이</li>
				<!-- 30 -->
		</ul>
		
		<h4>방법 2</h4>
		<pre>
	th:object 속성 + *{필드명}
		th:object 속성 : 해당 태그 내에서
		                지정된 객체의 필드를 쉽게 접근하게 하는 속성
		*{필드명} : th:object로 지정된 객체의 필드를 접근할 때 사용하는 방법
		</pre>
		<ul th:object="${std}">
			<li th:text="*{studentNo}">학번</li>
			<li th:text="*{name}">이름</li>
			<li th:text="*{age}">나이</li>
		</ul>
		
		<h4>방법 3</h4>
		<h5>DTO가 담긴 List 출력하기</h5>
		<table border="1">
			<thead>
				<tr>
					<th>학번</th>
					<th>이름</th>
					<th>나이</th>
				</tr>
			</thead>
			<tbody>
				<!-- th:each 가 설정된 태그 전체(tr) 반복됨 -->
				<tr th:each="std : ${stdList}" th:object="${std}">
					<td th:text="*{studentNo}">학번</td>
					<td th:text="*{name}">이름</td>
					<td th:text="*{age}">나이</td>
				</tr>
			</tbody>
		</table>
		
		<h4>DTO MEMBER 객체 출력</h4>
		<h4>방법 1</h4>
		<ul>
			<li th:text="${mem}">MEMBER 객체</li>
			<li th:text="${mem.memberNo}">멤버 번호</li>
			<li th:text="${mem.memberName}">멤버 이름</li>
			<li th:text="${mem.memberAge}">멤버 나이</li>
		</ul>
		
		<h4>방법 2</h4>
		<ul th:object="${mem}">
			<li th:text="*{memberNo}">멤버 번호</li>
			<li th:text="*{memberName}">멤버 이름</li>
			<li th:text="*{memberAge}">멤버 나이</li>
		</ul>
		
		<h4>방법 3</h4>
		<table border="1">
			<thead>
				<tr>
					<th>번호</th>
					<th>이름</th>
					<th>나이</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="mem : ${memList}" th:object="${mem}">
					<td th:text="*{memberNo}">번호</td>
					<td th:text="*{memberName}">이름</td>
					<td th:text="*{memberAge}">나이</td>
				</tr>
			</tbody>
		</table>
		
		
		<th:block th:replace="~{layout/footer}"></th:block>
	</body>
</html>