<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>타임리프 예제2</title>
	</head>
	<body>
		<h1>타임리프 예제 2</h1>
		<h3>요청 위임된 request에 존재하는 파라미터 출력하기</h3>
		
		<pre>
	${param.key}
		request에 존재하는 parameter(매개변수) 값 얻어와 출력
		</pre>
		<ul>
			<li th:text="${param.inputName}">제출된 이름</li>
			<li th:text="${param.inputAge}">제출된 나이</li>
			
			<!-- 같은 name 속성값을 가진 파라미터는 배열로 전달 -->
			<li th:text="${param.color}">체크된 색상</li>
				<!-- color로 전달 받은 값이 없으면 null(빈칸)으로 보이게 됨
				     반복해야될 값이 없으면 반복을 하지 않는 것이지, 특별한 에러가 보이진 않음 -->
		</ul>
		<hr>
		<!-- ExampleController.java 131번째 줄
		     model.addAttribute("str", "<h1> 테스트중 &times; </h1>");
		     str 키 값으로 전달하는 <h1> 테스트중 &times; </h1> 값을 보여주기 -->
		<h3>th:text / th:utext</h3>
		<pre>
	ExampleController에 작성한 <h1> 테스트 중 &times; </h1> innerHTML 임
	
	th:text = "속성값"
		해당 태그에 "속성값"을 내용으로 출력
		단, html 태그, 특수문자 해석 X (innerHTML)

	th:utext = "속성값"
		해당 태그에 "속성값"을 내용으로 출력
		단, html 태그, 특수문자 해석 O (innerHTML)
		</pre>
		<div>
			<h4>th:text(HTML 태그 해석 x)</h4>
			       <!-- HTML 태그 해석 x : h1태그(<h1>)를 글자로 받아들임 -->
			<th:block th:text="${str}">str</th:block>
		      <!-- text : 이 태그는 <h1>도 글자로 표현
				          <h1>이 그대로 사용자 화면에 보여짐 -->
		</div>
		<div>
			<h4>th:utext(HTML 태그 해석 o)</h4>
			        <!-- HTML 태그 해석 o : h1태그(<h1>)를 글자로 받아들이지 않고 태그로 받아들임 -->
			<th:block th:text="${str}">str</th:block>
			  <!-- utext : 이 태그는 <h1>을 <h1>태그로 해석
				           <h1>과 같은 태그를 모두 읽고 해석한 뒤 사용자 화면에 보여짐 -->
		</div>
		
		<!-- html 파일 전체를 하나의 조각처럼 취급 -->
		
		<th:block th:replace="~{layout/footer}"></th:block>
		                          <!-- footer : footer html 파일을 모두 가져와서 일부분에 표시할 것 -->
		     <!-- th:replace="~{폴더명/html파일명} -->
		
	</body>
</html>