<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>타임리프 예제3</title>
	</head>
	<body>
		<h1>타임리프 예제3</h1>
		
		<h3>링크(URL) 조합에 사용되는 Spring (@{})</h3>
		<ul>
			<li>
				<a href="/board">게시판(/board)</a>
			</li>
			<li>
				<a href="/board?key=제목&query=검색어">게시판 검색</a>
			</li>
			<li>
				<!-- thymeleaf를 이용한 쿼리스트링 작성법 -->
				<!-- 위에 작성된 a 태그의 href 속성과 똑같은 값 -->
				<a th:href="@{/board(key=${key}, query=${query})}">@{} 사용</a>
			</li>
			<li>
				PathVariable : 주소 중 일부분을 변수값처럼 변경 가능하게 사용
				
				<ul>
					<li>
						<a href="/example/ex2/1">/example/ex2/1로 이동</a>
					</li>
					<li>
						<a href="/example/ex2/2">/example/ex2/2로 이동</a>
					</li>
					<li>
						<a href="/example/ex2/3">/example/ex2/3로 이동</a>
					</li>
					<li>
						<a th:href="@{/example/ex2/{number}(number=${boardNo})}">
						th:href=""@{/고정된주소값/{변경될변수명}(변경될변수명=${DB에서가져올값})}""
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</body>
</html>