<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shoppingmall.mapper.MemberMapper">
	<insert id="insertMember" parameterType="com.shoppingmall.dto.Member">
		INSERT INTO member (member_id, username, password, email, created_at) 
		VALUES (member_seq.NEXTVAL, #{username}, #{password}, #{email}, default)
	</insert>
	<select id="getAllMember" resultType="com.shoppingmall.dto.Member">
		SELECT * FROM member
	</select>
</mapper>